* {
    background-color: #dcdcdc;
    color: #2f4f4f;

}

nav a {
    background-color: #ccc;
    color: #2f4f4f;


}

container {
    width: 900px;
    margin: auto;
}

h2 {
    font-family: 'Lora', serif;
}

#image {
    display: none;
}

#image2 {
    display: none;
}

#image3 {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    display: contents;
}

#gaming {
    display: none;
}

#primair {
    display: none;
}

#luxe {
    display: contents;
}

.geheel {
    border: 3px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    align-content: space-between;


}

.box {
    border: 3px solid #000;
    margin: 10px;
    padding: 10px;
    width: 240px;
    height: 300px;
}
